*{
    border: 1px solid red;
    font-family: lato;
}
body{
    margin: 0;
}
header {
    width: 100%;
    padding: 0.5% 2%;
    background-color: beige;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.header-left-section,
.header-right-section {
    flex: 1;
    display: flex;
    align-items: center;
}
.header-left-section {
    justify-content: flex-start; 
}
#logo{
    margin-left: 20px;
    flex-shrink: 0;
}
#logo img{
    height: 50px;
    width: auto;
    display: block;
}


.header-center-section {
    display: flex; 
    justify-content: center;
    flex-shrink: 0;
}
#NavCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25px;
}
.NavBtn{
    background-color: beige;
    border: 0px;
    font-size: 25px;
    padding: 0.5em;
    margin: 5px;
    white-space: nowrap;
}
.NavBtn:hover{
    background-color: rgba(245, 255, 255, 0.5);
    border-radius: 5%;
    cursor: pointer;
    transition: 0.5s;
}
.NavBtn:active{
    background-color: rgba(245, 255, 255, 1);
}
.header-right-section {
    justify-content: flex-end;
    gap: 5px;
}
#searchbar{
    display: flex;
}
#searchbar input[type="text"]{
    background-color: rgb(250, 250, 250);
    padding: 10px;
    border: 1px rgb(245, 245, 220);
    border-radius: 5%;
    width: auto;
    margin-right: 3px;
}
#searchbar input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
    background-color: #fff; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: 0.15s;
}
#lupa{
    background-color: rgb(210, 210, 210);
    border: 0px;
    border-radius: 10%;
    width: 35px;
}
#lupa i {
        color: #333;
    }
#lupa:hover{
    background-color: rgb(180, 180, 180);
    transition: 0.25s;
}
#lupa:active{
    background-color: rgb(210, 210, 210);
}
#koszyk{
    background-color: beige;
    border: 1px rgb(245, 245, 220);
    border-radius: 25%;
    height: 70px;
    width: 70px;
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
#koszyk i {
        color: #333;
    }
#koszyk:hover{
    background-color: rgba(245, 255, 255, 0.5);
    color: rgb(50,50,50);
    transition: 0.25s;
}
#koszyk:active{
    background-color: rgba(245, 255, 255, 1);
    color: rgb(90,90,90);
    transition: 0.25s;
}


#add_to_cart,
#buy_now {
    height: 44px;
    width: 50%;
    min-width: 160px; 
    padding: 0 15px;
    font-size: 19px; 
    max-width: 220px;
    box-sizing: border-box;
    margin: 0.5em;
    background-color: beige;
    border: none;
}
#buy_now {
    margin-top: 0.5%;
}
#content{
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainContainer {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 70%;
    min-height: 400px;
}

.mainContainerSection{
    background-color: rgb(232, 244, 254);
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 20px;
}

#product{
    min-height: 400px;
}

#product > div {
    flex-direction:row;
    background-color: rgb(232, 244, 254);
    margin: 10px;
    padding: 20px;
    width: 50%;
}
#leftProduct > div {
    display: flex;
    flex-direction: column;
    background-color: aqua;
}
#productHeader{
    align-items: flex-start;
    font-size: 20px;
}
#rightProduct{
    min-height: 200px;
}
#rightProduct > div{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: aqua;
}
#description{
    align-items: flex-start;
    flex-direction: column;
}
#detailsDiv{
    background-color: pink;
}
footer{
    width: 100%;
    padding-top: 20px;
    text-align: center;
    height: 40px;
    background-color: beige;
    display: flex;
    justify-content: center;
}