body{
    margin: 0;
    font-family: lato;
}
header {
    width: 100%;
    height: 25px;
    padding-top: 0.5%;
    padding-bottom: 1%;
    background-color: beige;
}
#NavCenter{
    width: 60%;
    height: 25px;
    margin-left: 20%;
    margin-right: 20%;
}
.NavBtn:hover{
    background-color: azure;
}
.NavBtn{
    font-size: 25px;
    float: left;
    margin-top: 0%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    height: 100%;
}
#content{
    margin-left: 20%;
    margin-right: 20%;
}
.product{
    background-color: aliceblue;
    margin-top: 0.5%;
    width: 100%;
    height: 250px;
}
.imgContainer{
    float: left;
    width:225px;
    height:250px;
}
.dataContainer{
    padding-left: 2%;
    height: 100%;
    width: 70%;
    float: left;
}
.dataLeft{
    padding-top: 25px;
    float: left;
    height: 100%;
}
.dataRight{
    float: right;
    width: 25%;
    height: 100%;
    padding-top: 100px;
}
#add_to_cart{
    height: 30px;
    width: 100%;
}
#buy_now{
    width: 100%;
    margin-top: 2.5%;
    height: 30px;
}

footer{
    width: 100%;
    height: 40px;
    background-color: beige;
    float: left;
}